body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	font-family: Arial, sans-serif;
	background-image: url(cat-background.jpg);
	background-repeat: repeat;
	margin: 0;
	padding: 0;
}

#api-form {
	max-width: 500px;
	margin: 50px auto;
	padding: 24px;
	background: #687180;
	border-radius: 10px;
	box-shadow: 2px 8px 16px rgba(0, 0, 0, 0.81);
}

h1 {
	text-align: center;
	color: #1f0df0;
	font-size: 64px;
}

form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

label {
	color: white;
}

input,
button {
	padding: 12px;
	font-size: 16px;
}

input {
	width: 100%;
	box-sizing: border-box;
}

button {
	font-weight: bold;
	background-color: #4720c7;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

button:hover {
	background-color: #005ad3;
}

#response-box {
	min-height: 200px;
	margin-top: 30px;
	padding: 20px;
	border: 2px solid #3320b7;
	border-radius: 5px;
	background: rgb(140, 134, 179);
}

#url-warning,
#email-warning {
	color: rgb(102, 13, 13);
	font-size: 20px;
	font-weight: bold;
	text-decoration: underline;
	margin-top: 4px;
	display: none;
}

button:disabled {
	background-color: #999999;
	cursor: not-allowed;
	color: #666666;
}

.response-message {
	background-color: #ffffff;
	color: #333;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
}

.response-message p {
	margin: 0 0 10px;
	line-height: 1.4;
}

.original-email {
	color: #1f0df0;
	font-weight: bold;
}

.sorted-email {
	color: #009688;
	font-weight: bold;
	font-family: monospace;
}
